<link rel="shortcut icon" href="/web/css/Images/slideImage/favicon.ico"/>

	<link type="text/css" href="/web/css/styles.css" rel="stylesheet" />

	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"  rel="stylesheet"/>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet"/>
	
	
     
   


	<link type="text/css" href="/web/css/styles.resolution.css" rel="stylesheet" />

	<link rel="stylesheet" href="/web/css/boxy.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/web/css/responsive.css" />

	<script type="text/javascript" src="/web/vendor/bootstrap/js/jquery-1.8.2.min.js"></script>

	<script src="/web/vendor/bootstrap/js/jquery.min.js"></script>

	<script type="text/javascript" src="/web/vendor/bootstrap/js/common.js"></script>

	<script type='text/javascript' src='/web/vendor/bootstrap/js/jquery.boxy.js'></script>

<!-- 	<script type="text/javascript">var app = '';</script> -->

	<link href="/web/css/home.css" type="text/css" rel="stylesheet" />
	
	<link href="/web/css/products.css" type="text/css" rel="stylesheet"/>
	
	